@import 'variables.scss';
@import 'mixin.scss';
@import 'blocs_libres.scss';

body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}

// Barre de navigation
.menu{
    box-sizing: border-box;
    &--style{
        font-size: 1rem;
        color: $blanc;
        font-weight: bold;

    }

}

// Section 1
.section1{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    box-sizing: border-box;
    &__image-fond{
        height: 100%;
        &--style{
             /* The image used */
            background-color: $blue;
            background-image: url("../media/images/bg_image.jpg");
            
            /* Add the blur effect */
            filter: blur(8px);
            -webkit-filter: blur(8px);
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
       
    }
    &__message{
        margin: 0;

        &--style{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            width: 80%;
            background-color: #000000; /* Fallback color */
            background-color: #00000066; /* Black w/opacity/see-through */
            color: white;
            font-weight: bold;
            border: 3px solid $rouge;
            padding: 3% 0;
            h1{
                font-size: 3rem;
                font-weight: 700;
            }
            p{
                font-size: 1.5rem;
                font-weight: bold;
                font-style: oblique;
                
            }
        }
    }
}

.section2{
    margin: 0;

    &--style{
        padding: 3% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-justify: center;
        justify-content: center;
        background-color: $gris1;
    }
    .message-section{
        margin: 0;
        &--style{
            font-size: 1.3rem;
            padding: 1%;
        }
    }
}

.section3{
    margin: 0;
    &--style{
        display: flex;
        flex-direction: column;
        padding: 3% 0 5%;
        align-items: center;
    }
    .carte{
        margin: 3%;
        &--style{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 50%;
            padding: 2%;
            border: solid 1px $rouge;
        }
        &__photo{
            margin: 0;
            &--style{
                width: 20%;
                height: 20%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        
        &__texte{
            margin: 0;
            &--style{
                width: 75%;
                height: 75%;
                font-size: 1.3rem;
            }
            .nom-developpeur{
                font-weight: bold;
                font-size: 2rem;
                text-align: center;
                color: $rouge;
            }

            .biographie-developpeur{
                text-justify: justify;
            }
        } 
    }          
}

    

.section4{
    margin : 0;
    padding: 3% 0 0;
    box-sizing: border-box;

    &--style{
        background-color:  $gris1;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $blue;
        text-align: center;

        
        }
    .formulaire{
        margin: O;
        &--style{
            display: flex;
            flex-direction: column;
            padding: 2%;
            border: solid 1px $gris2;
        }
/*
        &__titre{
                margin-bottom: 2%;
                &--style{
                    padding-bottom: 2%;
                    background-color: $blue;
                    color: $blanc;
                    font-size: 1.5rem;
                    font-weight: bold;
                }
        }
        &__note{
            margin: 5% 0;
            &--style{
                color: $blue;
                font-size: 1rem;
            }
        }
        &__contenu{
            margin: 0;
            &--style{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 5%;
            }
            .saisie{
                flex-wrap: wrap;
                margin: 0;
                &--style{
                    display: flex;    
                    flex-direction: column;
                    width: 100%;
                    flex: 1;
                }
                &__pour-inputs{
                    margin: 1.5% 0;
                    &--style{
                        padding: 1.5%;
                        justify-content: space-between;
                        color: $blue;
                        flex: 1;
                    }
                }
                &__pour-textarea{
                    &--style{
                        padding: 1.5%;
                        color: $blue;
                    }
                }
                
            }
        }
*/        
    }  
}